.task-container {
    background-color: #444;
    margin: 8px 0;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 15px;
    z-index: 0;
}

.button-checked {
    color: chartreuse;
}

.button-uncheked {
    color: white;
}

.buttons-container button {
    background-color: #444;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    position: relative;
}

.task-title-container {
    font-weight: bold;
    cursor: pointer;
    z-index: 100;
}
